<%- include('partials/header'); -%>

<div class="row mt-4">
    <div class="col-4">
        
    </div>
    <div class="col-4 center shadow-lg">
        <h1 style="text-align: center;">About me</h1> 
            
        <div class="col-4">
            
        </div>
    </div>
    
    <div class="col-4">

    </div>
    
</div>
</body>
</html>