<%- include('partials/header'); -%>

<div class="row">
    <div class="col-4">

    </div>
    <div class="col-4 center1 mt-4 shadow-lg">
        <h1>คุณถูกรางวัลที่ 1</h1>
    </div>
    <div class="col-4">

    </div>

</div>

</body>
</html>